<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SecureLineSalesConnectionString" 
         connectionString="Server=BASITMIR\\SQLEXPRESS;Initial Catalog=SalesDb;Integrated Security=True;Connect Timeout=30"
       providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>